# Ignore Python cache files
__pycache__/
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore environment variable files
.env

# Ignore anything else here
build/
dist/
roblox_library.egg-info